.header {
    position: fixed;
    background: rgb(105, 201, 255);
    width: 100%;
    height: 100px;
    font: inherit;
}

.serviceIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    height: 100px;
}

.header-logo {
    margin: 7px;
    width: 64px;
    height: 64px;
    float: left;
}

.serviceName {
    margin: 0;
    margin-left: 10px;
    float: left;
    color: white;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    float: right;
    color: white;
}

.menu .menu-list .menu-contents {
    position: relative;
    float: left;
    list-style: none;
    margin-right: 200px;
    text-align: center;
}

/* ジャンル検索と範囲検索のセレクトスタイル */
select {
    color: #fff;
    width: 10rem;
    height: 5rem;
    border: 0;
    background-color: transparent;
    font-weight: bold;
    font-size: 30px;
}
