@charset "utf-8";
//web-font
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

//px to rem
$html-font-size: 16px;
@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

//common-setting
* {
  box-sizing: border-box;
  appearance: none;
  text-size-adjust: 100%;
}

//font-family
body {
  font-family: 'Noto Sans JP', sans-serif;
}

//header
.header {
  position: fixed;
  z-index: 500;
  width: 100%;
  height: 100px;
  background-color: #69c9ff;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 12px;
  }
  &__logo {
    display: flex;
    align-items: center;
    height: 100px;
    &__title {
      margin-left: 10px;
      font-size: 50px;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.8;
      }
    }
    &__img {
      width: 64px;
      height: 64px;
    }
  }

  //nav PC
  &__nav {
    height: 100px;
    &__inner {
      display: flex;
      justify-content: space-around;
      width: 800px;
      /* The container must be positioned relative: */
      .custom-select {
        position: relative;
        width: 300px;
        font-size: 30px;
        line-height: 82px;
        text-align: center;
        select {
          display: none; /*hide original SELECT element: */
          color: #fff;
        }
      }

      .select-selected {
        //   background-color: DodgerBlue;
        color: #fff;
        /* Style the arrow inside the select element: */
        &::after {
          position: absolute;
          top: 47px;
          right: 35px;
          width: 0;
          height: 0;
          content: '';
          border: 10px solid transparent;
          border-color: #fff transparent transparent transparent;
        }
      }

      /* Point the arrow upwards when the select box is open (active): */
      .select-selected.select-arrow-active::after {
        top: 34px;
        border-color: transparent transparent #fff transparent;
      }

      /* style the items (options), including the selected item: */
      .select-items div,
      .select-selected {
        padding: 8px 16px;
        cursor: pointer;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
      }

      /* Style items (options): */
      .select-items {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 99;
        color: #000;
        background-color: #fff;
        border: #eee 2px solid;
      }

      /* Hide the items when the select box is closed: */
      .select-hide {
        display: none;
      }

      .select-items div:hover,
      .same-as-selected {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

//nav mobile
#hamburger {
  position: absolute;
  top: calc(50% - 15px);
  left: 87%;
  display: none;
  width: 100px;
  height: 30px;
  cursor: pointer;
  //hamburger menuの構成要素
  #line1 {
    top: 0;
  }
  #line2 {
    top: 14px;
  }
  #line3 {
    bottom: 0;
  }
  .line {
    position: absolute;
    left: 0;
    display: block;
    width: 38px;
    height: 3px;
    background-color: #fff;
    border-radius: 4px;
    transition: 0.5s;
  }

  .line_1 {
    top: 0;
    transform: translateY(13px) rotate(-45deg);
  }
  .line_2 {
    opacity: 0;
  }
  .line_3 {
    bottom: 0;
    transform: translateY(-13px) rotate(45deg);
  }
}
.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 400;
  width: 380px;
  min-height: 100vh;
  background-color: #eee;
  transition: all 0.5s;
  transform: translate(400px);
  &__inner {
    padding-top: 100px;
    /* The container must be positioned relative: */
    .custom-select {
      position: relative;
      font-size: 30px;
      line-height: 120px;
      text-align: center;
      select {
        display: none; /*hide original SELECT element: */
        color: #fff;
      }
    }

    .select-selected {
      color: #000;
      background-color: #fff;
      /* Style the arrow inside the select element: */
      &::after {
        position: absolute;
        top: 65px;
        right: 60px;
        width: 0;
        height: 0;
        content: '';
        border: 10px solid transparent;
        border-color: #000 transparent transparent transparent;
      }
    }

    /* Point the arrow upwards when the select box is open (active): */
    .select-selected.select-arrow-active::after {
      top: 50px;
      border-color: transparent transparent #000 transparent;
    }

    /* style the items (options), including the selected item: */
    .select-items div,
    .select-selected {
      padding: 8px 16px;
      cursor: pointer;
      border: 1px solid transparent;
      border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    }

    /* Style items (options): */
    .select-items {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: 99;
      color: #000;
      background-color: #fff;
      border: #eee 2px solid;
    }

    /* Hide the items when the select box is closed: */
    .select-hide {
      display: none;
    }

    .select-items div:hover,
    .same-as-selected {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.active {
  transform: translate(0px) !important;
}

//container
.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  max-width: 1500px;
  padding-top: 100px;
  margin: 0 auto;
}

//overlay
#overlay {
  position: fixed;
  z-index: 300;
  display: none;
  width: 100%;
  min-height: 100vh;
  background: #000;
  opacity: 0.5;
}
.visible {
  display: block !important;
  pointer-events: none; //ポインタの動作全部無効化
}

//card
.card-wrapper {
  padding: 45px 0 0 70px;
  a {
    color: #000;
    text-decoration: none;
  }
}

.card {
  display: flex;
  width: rem(640);
  height: rem(215);
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 25px;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.7;
  }
  &__img {
    width: rem(215);
    img {
      height: 100%;
      border-radius: 10px 0 0 10px;
      object-fit: cover;
      object-position: center;
    }
  }
  &__text {
    width: 100%;
    &__shop {
      width: 100%;
      font-size: rem(40);
      line-height: rem(215);
      text-align: center;
    }
    &__distance {
      position: relative;
      top: rem(-50);
      left: rem(320);
      display: inline-block;
      font-size: rem(30);
      color: #696969;
    }
  }
}

//media query
@media (max-width: 1440px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1340px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1170px) {
  html {
    font-size: 10px;
  }
  .header__nav {
    display: none;
  }
  .header__logo {
    position: relative;
    left: calc(50% - 130px);
  }
  #hamburger {
    display: block;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 800px) {
  .card-wrapper {
    width: 100%;
    padding: 30px 0 0 30px;
  }
  html {
    font-size: 14px;
  }
}
