.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2.8125rem 0 0 4.375rem;
}
.card-wrapper a {
  color: #000;
  text-decoration: none;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  /* img,shop,distanceをよこならびにする */
  display: flex;
  width: 40rem;
  height: 13.4375rem;
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 25px;
          box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 25px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* マウスが乗った時のアクション */
.card:hover {
  opacity: 0.7;
}

/*画像のサイズを調整*/
.card__img {
  width: 13.4375rem;
}

.card__img img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  /*余白なく縦横比を維持して中央にトリミング*/
  /*-o-のようにベンダー接頭辞ありとなしを用意することによって様々なブラウザに対して互換性を保証する*/
  -o-object-fit: cover;
      object-fit: cover;
  -o-object-position: center;
      object-position: center;
}

.card__text {
  width: calc(40rem - 13.4375rem);
}

.card__text__shop {
  width: calc(40rem - 13.4375rem);
  overflow: hidden;
  font-size: 2.5rem;
  line-height: 9rem;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__text__distance {
  position: relative;
  top: -5rem;
  left: 20rem;
  display: inline-block;
  font-size: 1.875rem;
  color: #696969;
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
  max-width: 1500px;
  padding-top: 100px;
  margin: 0 auto;
}